@charset "UTF-8";
html {font-size: 16px; }

body {
  font-weight: 0;
  font-family: Georgia;
  background-color: #F5F5F5;
  color: #333;
}

/* Styling Main Body Text */
.maintext {
  background-color: #F5F5F5;
  font-weight: 0;
  color: #333;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.maintext img {
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    float: left;
    width: 350px;
    height: auto;
  }

.menu {
  text-align: center;
  font-size: 1rem;
  margin-top: .5rem;
  word-spacing: 5px;
}

.header {
  font-style: normal;
  font-family: Georgia;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  }

a {
  color: #B73225;
  text-decoration: none;
}

.header a {
  text-decoration: underline;
}
