<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>

		<body>
			<h1 class="name">Alexander F. Gazmararian</h1>
			<div class="container">
			{{ content }}
			</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li>Email: <a href="mailto:agazmararian@princeton.edu">agazmararian@princeton.edu</a></li>
							<li>GitHub: <a href="https://github.com/agazmararian">agazmararian</a></li>
							<li>Twitter: <a href="https://twitter.com/alexgazmararian"> @alexgazmararian</a></li>
				</ul>
			</footer>
		</body>
	</html>
