<!DOCTYPE html>
	<html>
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168829299-1"></script>
			<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-168829299-1');
			</script>

			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>

		<body>
			<h1 class="name">Alexander F. Gazmararian</h1>
			<div class="container">
			{{ content }}
			</div><!-- /.container -->
		</body>

			<footer>
	    		<ul>
	        		<li><a href="mailto:agazmararian@princeton.edu" target="_blank"><img class = "icon" alt="Email Icon" src="img/mail.png"></a></li>
							<li><a href="https://github.com/agazmararian" target="_blank"><img class = "icon" alt="GitHub Icon" src="img/github.png"></a></li>
							<li><a href="https://twitter.com/alexgazmararian" target="_blank"><img class="icon" alt="Twitter Icon" src="img/twitter.png"></a></li>
				</ul>
			</footer>
	</html>
